@model TestModel
@using MvcControlsToolkit.Core.Views
@using MvcControlsToolkit.Core.Templates
@inject  Microsoft.AspNetCore.Http.IHttpContextAccessor accessor
@{
    ViewData["Title"] = "Row Collection Test";
}

<h2>@ViewData["Title"].</h2>

<rows-collection asp-for="@Model" rows-cache-key="cache-test" tag-for-defaults="detail-form" all-properties="true">
    <column asp-for="FieldF" remove="true"/>
    <column asp-for="FieldE">
        <template type="Edit" >
            @{ 
                {
                    var h = Html;
                    var Model = h.CurrentScope<string>().Model;
                    <input asp-for="@Model"/>
                }
            }
        </template>
    </column>
</rows-collection>
@{
    var rows = RowType.GetRowsCollection("cache-test");
    var col = rows != null ? rows[0].Columns.Where(m => m.For.Name == "FieldE").FirstOrDefault() : null;

    ContextualizedHelpers helpers = new ContextualizedHelpers(ViewContext,Html, accessor, null, null);
}
@if (col != null)
{
    @await col.InvokeEdit("prova", helpers)
}
