@model DynamicRangeTestViewModel
@using MvcControlsToolkit.Core.Views
@using MvcControlsToolkit.Core.ITests.ViewModels.Home
@{
    ViewData["Title"] = "Globalization Test";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Home" asp-action="DynamicRangeTest" method="post" class="form-horizontal" role="form">
    <hr />
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="AFloatMin" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AFloatMin" class="form-control" type="range" step="0.5"/>
            <span asp-validation-for="AFloatMin" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AFloat" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AFloat" class="form-control" type="range" step="0.5"/>
            <span asp-validation-for="AFloat" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AFloatMax" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AFloatMax" class="form-control" type="range" step="0.5"/>
            <span asp-validation-for="AFloatMax" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ADatetimeMin" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ADatetimeMin" class="form-control" />
            <span asp-validation-for="ADatetimeMin" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ADatetime" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ADatetime" class="form-control" />
            <span asp-validation-for="ADatetime" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ADatetimeMax" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ADatetimeMax" class="form-control" />
            <span asp-validation-for="ADatetimeMax" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ADateMin" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ADateMin" class="form-control" />
            <span asp-validation-for="ADateMin" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ADate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ADate" class="form-control" />
            <span asp-validation-for="ADate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ADateMax" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ADateMax" class="form-control" />
            <span asp-validation-for="ADateMax" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ATimeMin" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ATimeMin" class="form-control" />
            <span asp-validation-for="ATimeMin" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ATime" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ATime" class="form-control" />
            <span asp-validation-for="ATime" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ATimeMax" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ATimeMax" class="form-control" />
            <span asp-validation-for="ATimeMax" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AWeekMin" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AWeekMin" type="week" data-omin="12" class="form-control" />
            <span asp-validation-for="AWeekMin" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AWeek" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AWeek" type="week" data-omin="12" class="form-control" />
            <span asp-validation-for="AWeek" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AWeekMax" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AWeekMax" type="week" data-omin="12" class="form-control" />
            <span asp-validation-for="AWeekMax" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AMonthMin" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AMonthMin" type="month" class="form-control" />
            <span asp-validation-for="AMonthMin" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AMonth" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AMonth" type="month" class="form-control" />
            <span asp-validation-for="AMonth" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AMonthMax" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AMonthMax" type="month" class="form-control" />
            <span asp-validation-for="AMonthMax" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AColor" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AColor" class="form-control" />
            <span asp-validation-for="AColor" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AUrl" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AUrl" class="form-control" />
            <span asp-validation-for="AUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="APositiveInteger" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="APositiveInteger" class="form-control" />
            <span asp-validation-for="APositiveInteger" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>

@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}